body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.nav-container {
    background-color: #007bff;
    padding: 10px;
    text-align: left;
}

.nav-container a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.login-container {
    margin-top: 20px;
    text-align: left;
}

.login-container form {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
}

.login-container label {
    margin-bottom: 5px;
    display: inline-block; 
    width: 30%; 
}

.login-container input,
.login-container select {
    width: 68%; 
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-container .gender-container {
    display: inline; 
    margin-bottom: 10px;
}

.login-container .gender-container label {
    display: flex;
    align-items: center;
    margin-right: 15px; 
}

.login-container input[type="submit"] {
    width: 100%; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 15px; 
    padding: 10px; 
    cursor: pointer; 
    box-sizing: border-box; 
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3; 
}
