body {
    margin: 0;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
}

.user-container,
.info-container,
.info2-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.info2-container {
    width: 100%;
    border-top: none; 
    border-bottom: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
}

tr:last-child td {
    border-bottom: none;
}
