
body {
    background-color: #f2f2f2; 
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 400px;
    margin: 100px auto; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    max-width: 300px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff; 
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; 
}

p.error {
    color: red;
    text-align: center;
}
